.p-breadcrumb {
  background: transparent !important;
  border: none !important;
  padding: 0.5rem 0 !important;
  .pi-chevron-right:before {
    font-size: 12px;
    color: var(--surface-500) !important;
  }
  .p-menuitem-text {
    color: var(--surface-500) !important;
    &:hover {
      color: var(--surface-800) !important;
    }
  }
  .p-menuitem-link:focus {
    box-shadow: unset !important;
  }
}

.p-menu .p-menuitem-link:focus {
  box-shadow: unset !important;
}

.p-button {
  background: var(--bluebreak-600);
  border: 1px solid var(--bluebreak-600);
  &:hover {
    background: var(--bluebreak-700);
  }

}

.p-button-danger {
  background: var(--red-600) !important;
  border: 1px solid var(--red-600) !important;
  &:hover {
    background: var(--red-700) !important;
  }
}

.p-button-secondary {
  border: 1px solid var(--neutralgray-500) !important;
  background: white !important;
  color: black !important;
  &:hover {
    background: var(--neutralgray-300) !important;
  }
}
.p-paginator {
  .p-paginator-current {
    display: none;
  }
  button {
    min-width: 2rem !important;
    height: 2rem !important;
  }
  .p-paginator-pages .p-paginator-page.p-highlight {
    background: var(--bluebreak-700);
    border: 1px solid var(--bluebreak-700);
    color: white;
    padding: 0.5rem !important;
    &:hover {
      background: var(--bluebreak-700);
    }
  }
}
.p-rating .p-rating-icon.pi-star {
  color: #FDD836;
  &:hover {
    color: #FDD836 !important;
  }
}
.p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
  color: #495057;
}
.p-progressbar {
  width: 100%;
  border-radius: 20px;
  p {
    color: white !important;
    font-size: 12px;
    font-weight: 500;
  }
  background: var(--red-300);
  .p-progressbar-value {
    background: var(--red-500);
  }
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none !important;
}

.p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
  background: white !important;
}

.p-inputtext:enabled:focus {
  box-shadow:none !important;
  border-color: #1890ff !important;
}

.p-fieldset .p-fieldset-legend {
  margin-left: 1rem;
}

.p-grid {
  margin-bottom: -0.5rem !important;
}
